CRAFT_GRAPHQL_ENDPOINT=http://localhost:8080/index.php?action=graphql/api
CRAFT_GRAPHQL_TOKEN=
JWT_SECRET=remplacer-par-une-cle-longue-aleatoire
REVALIDATE_SECRET=remplacer-par-une-autre-cle-longue-aleatoire
